@{
    ViewData["Title"] = "Delete";
}

@section header {
    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;Users
}

<div class="panel">
    <div class="panel-heading main-color-bg">
        <h3 class="panel-title">
            <span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;&nbsp;Delete User
        </h3>
    </div>
    <div class="panel-body">
        <div asp-validation-summary="All" class="text-danger"></div>
        <p>
            Are you sure to delete this user?
        </p>
    </div>
    <div class="panel-footer">
        <form asp-action="Delete" method="post">
            <input id="userId" name="userId" type="hidden" value="@ViewData["UserId"]" />
            <input type="submit" value="Yes" class="btn main-color-bg" />
            <a asp-action="Index" class="btn btn-danger">No</a>
        </form>
    </div>
</div>