@model UpdateRoleModel

@{
    ViewData["Title"] = "UpdateRole";
}

@section header {
    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;Users
}

<div class="panel">
    <form asp-action="UpdateRole" method="post">
        <div class="panel-heading main-color-bg">
            <h3 class="panel-title">
                <span class="glyphicon glyphicon-edit"></span>&nbsp;&nbsp;&nbsp;Update User Role
            </h3>
        </div>
        <div class="panel-body">
            <input asp-for="ApiModel.UserId" type="hidden" />
            <div class="row mb-10">
                <div class="col-md-2">
                    <label class="control-label">Select Role</label>
                </div>
                <div class="col-md-10">
                    <select asp-for="ApiModel.RoleId" class="form-control col-md-10"
                            asp-items="@(new SelectList(Model.Roles, "Id", "Title"))">
                        <option value="-1">-- Select Role --</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <input type="submit" class="btn main-color-bg" value="Create" />
                </div>
            </div>
        </div>
    </form>
</div>