@model AddressViewModel

@{
    ViewData["Title"] = "UpdateAddress";
}

@if (Model.AddressLine1 == "test")
{
    <h1>Add Address</h1>
}
else
{
    <h1>Update Address</h1>
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateAddress">
            <div asp-validation-summary="All" class="text-danger"></div>

            <input asp-for="Id" type="hidden" />

            <div class="form-group">
                <label asp-for="AddressLine1" class="control-label"></label>
                <input asp-for="AddressLine1" class="form-control" />
                <span asp-validation-for="AddressLine1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressLine2" class="control-label"></label>
                <input asp-for="AddressLine2" class="form-control" />
                <span asp-validation-for="AddressLine2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LandMark" class="control-label"></label>
                <input asp-for="LandMark" class="form-control" />
                <span asp-validation-for="LandMark" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="City" class="control-label"></label>
                        <input asp-for="City" class="form-control" />
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="PinCode" class="control-label"></label>
                        <input asp-for="PinCode" class="form-control" />
                        <span asp-validation-for="PinCode" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="SubDistrict" class="control-label"></label>
                        <input asp-for="SubDistrict" class="form-control" />
                        <span asp-validation-for="SubDistrict" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="District" class="control-label"></label>
                        <input asp-for="District" class="form-control" />
                        <span asp-validation-for="District" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <input asp-for="State" class="form-control" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" asp-controller="Home" class="btn btn-danger">Cancel</a>
            </div>
        </form>
    </div>

    <div class="col-md-1"></div>
    <div class="col-md-4">
        <h2>Current Address</h2>
        @if (Model.AddressLine1 == "test")
        {
            <span>Not set at the moment.</span>
        }
        else
        {
            <partial name="_Address" model="Model" />
        }
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

