@model UpdatePasswordViewModel

@{
    ViewData["Title"] = "UpdatePassword";
}

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h1 class="card-title">
                    Change Password
                </h1>
            </div>
            <div class="card-body">
                <form asp-action="UpdatePassword">
                    <div asp-validation-summary="ModelOnly" class="text-danger alert alert-danger"></div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword" class="control-label"></label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="OTP" class="control-label"></label>
                        <input asp-for="OTP" class="form-control" />
                        <span asp-validation-for="OTP" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Update" class="btn btn-primary" />
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="alert alert-success">
                    <span>Please check your email for OTP.</span>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}