<form asp-action="list" asp-controller="ParkingLot" method="post">
    <div class="row">
        <div class="mr-2">
            <input id="query" placeholder="Search Parking lots..." name="query" class="form-control" />
        </div>
        <div>
            <input type="submit" class="btn btn-primary" value="Search" />
        </div>
    </div>
</form>