@model RoleViewModel

@{
    ViewData["Title"] = "Details";
}

@section header {
    <span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;&nbsp;User Roles
}

<div class="panel">
    <div class="panel-heading main-color-bg">
        <h3 class="panel-title">
            <span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;&nbsp;@Model.Title<span>s</span>
        </h3>
    </div>
    <div class="panel-body">
        <ul>
            @if (Model.UserViewModels.Any ())
            {
                foreach (UserViewModel user in Model.UserViewModels)
                {
                    <li>@user.FirstName<span> </span>@user.LastName</li>
                }
            }
            else
            {
                <li>No users the moment.</li>
            }
        </ul>
    </div>
</div>