@model ConfirmBookingModel

@{
    ViewData["Title"] = "Confirm";
}

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    Confirm your Booking
                </h3>
            </div>
            <div class="card-body">
                <form asp-action="Confirm">
                    <div asp-validation-summary="All" class="text-danger"></div>

                    <input asp-for="UserId" type="hidden" />
                    <input asp-for="SlotId" type="hidden" />

                    <div class="form-group">
                        <label asp-for="StartDateTime" class="control-label font-weight-bold"></label>
                        <input asp-for="StartDateTime" class="form-control" />
                        <span asp-validation-for="StartDateTime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label font-weight-bold">Booking Duration</label>
                        <div class="row">
                            <div class="col-md-6">
                                <label asp-for="DurationHour" class="control-label"></label>
                                <input asp-for="DurationHour" class="form-control" />
                                <span asp-validation-for="DurationHour" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <label asp-for="DurationMinute" class="control-label"></label>
                                <input asp-for="DurationMinute" class="form-control" />
                                <span asp-validation-for="DurationMinute" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label font-weight-bold">Vehical Number</label>
                        <div class="row">
                            <div class="col-md-3">
                                <label asp-for="StateCode" class="control-label"></label>
                                <input asp-for="StateCode" class="form-control" />
                                <span asp-validation-for="StateCode" class="text-danger"></span>
                            </div>
                            <div class="col-md-3">
                                <label asp-for="DistrictCode" class="control-label"></label>
                                <input asp-for="DistrictCode" class="form-control" />
                                <span asp-validation-for="DistrictCode" class="text-danger"></span>
                            </div>
                            <div class="col-md-3">
                                <label asp-for="SeriesCode" class="control-label"></label>
                                <input asp-for="SeriesCode" class="form-control" />
                                <span asp-validation-for="SeriesCode" class="text-danger"></span>
                            </div>
                            <div class="col-md-3">
                                <label asp-for="Number" class="control-label"></label>
                                <input asp-for="Number" class="form-control" />
                                <span asp-validation-for="Number" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Book Now" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>