@model AddParkingLotModel

@{
    ViewData["Title"] = "Add";
}

<div class="card">
    <div class="card-header">
        <h1 class="card-title">Create parking lot request</h1>
    </div>
    <div class="card-body">
        <form asp-action="Add">
            <div class="row">
                <div asp-validation-summary="ModelOnly" class="text-danger alert alert-danger"></div>
                <div class="col-md-6">
                    <h3>basic Info</h3>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <h3>2 Wheel Slots</h3>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="NoOf2WheelSlot" class="control-label">Total Number of Slots</label>
                                <input asp-for="NoOf2WheelSlot" class="form-control" />
                                <span asp-validation-for="NoOf2WheelSlot" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="TwoWheelerHourlyRate" class="control-label">Hourly Rate</label>
                                <input asp-for="TwoWheelerHourlyRate" class="form-control" />
                                <span asp-validation-for="TwoWheelerHourlyRate" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-12">
                            <h3>4 Wheel Slots</h3>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="NoOf4WheelSlot" class="control-label">Total Number of Slots</label>
                                <input asp-for="NoOf4WheelSlot" class="form-control" />
                                <span asp-validation-for="NoOf4WheelSlot" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="FourWheelerHourlyRate" class="control-label">Hourly Rate</label>
                                <input asp-for="FourWheelerHourlyRate" class="form-control" />
                                <span asp-validation-for="FourWheelerHourlyRate" class="text-danger"></span>
                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Submit" />
                    </div>

                </div>
                <div class="col-md-6">
                    <h3>Address</h3>
                    <div class="form-group">
                        <label asp-for="AddressViewModel.AddressLine1" class="control-label"></label>
                        <input asp-for="AddressViewModel.AddressLine1" class="form-control" />
                        <span asp-validation-for="AddressViewModel.AddressLine1" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AddressViewModel.AddressLine2" class="control-label"></label>
                        <input asp-for="AddressViewModel.AddressLine2" class="form-control" />
                        <span asp-validation-for="AddressViewModel.AddressLine2" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AddressViewModel.LandMark" class="control-label"></label>
                        <input asp-for="AddressViewModel.LandMark" class="form-control" />
                        <span asp-validation-for="AddressViewModel.LandMark" class="text-danger"></span>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="AddressViewModel.City" class="control-label"></label>
                                <input asp-for="AddressViewModel.City" class="form-control" />
                                <span asp-validation-for="AddressViewModel.City" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="AddressViewModel.PinCode" class="control-label"></label>
                                <input asp-for="AddressViewModel.PinCode" class="form-control" />
                                <span asp-validation-for="AddressViewModel.PinCode" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="AddressViewModel.SubDistrict" class="control-label"></label>
                                <input asp-for="AddressViewModel.SubDistrict" class="form-control" />
                                <span asp-validation-for="AddressViewModel.SubDistrict" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="AddressViewModel.District" class="control-label"></label>
                                <input asp-for="AddressViewModel.District" class="form-control" />
                                <span asp-validation-for="AddressViewModel.District" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="AddressViewModel.State" class="control-label"></label>
                        <input asp-for="AddressViewModel.State" class="form-control" />
                        <span asp-validation-for="AddressViewModel.State" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>