<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>@ViewBag.Title - Admin</title>

    <link href="~/Admin/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Admin/css/style.css" rel="stylesheet" />

</head>
<body>

    <!-- NAVBAR -->
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html">Online Parking Admin</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                @if (_tokenDecoder.IsLoggedIn)
                {
                    <li class="nav-item">
                        <a href="#">
                            Hii, @_tokenDecoder.UserName
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" onclick="document.getElementById('LogoutForm').submit();">
                            Logout
                        </a>
                        <form id="LogoutForm" asp-action="Logout" asp-controller="Auth" method="post"></form>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a asp-action="Login" asp-controller="Auth">
                            Login
                        </a>
                    </li>
                }
            </ul>
        </div>
    </nav>
    <!-- END NAVBAR -->
    <!-- HEADER -->
    <header id="header">
        <div class="container">
            <h1>
                @RenderSection("header", false)
            </h1>
        </div>
    </header>
    <!-- END HEADER -->

    <!-- MAIN AREA -->
    <section id="main">
        <div class="container">
            <div class="row">
                <!-- SIDE NAVBAR -->
                <div class="col-md-3">
                    <div class="list-group">
                        <a asp-action="Index" asp-controller="Users" asp-area="Admin"
                           id="side-users" class="list-group-item list-group-item-action bg-light main-color-bg">Users</a>
                        <a asp-action="Index" asp-controller="Roles" asp-area="Admin"
                           id="side-user-roles" class="list-group-item list-group-item-action bg-light">User Roles</a>
                        <a asp-action="Index" asp-controller="ParkingLots" asp-area="Admin"
                           id="side-parking-lots" class="list-group-item list-group-item-action bg-light">Parking Lots</a>
                        <a asp-action="Requests" asp-controller="ParkingLots" asp-area="Admin"
                           id="side-parking-lot-requests" class="list-group-item list-group-item-action bg-light">Parking Lot Requests</a>
                        <a asp-action="Index" asp-controller="Transactions" asp-area="Admin"
                           id="side-transactions-index" class="list-group-item list-group-item-action bg-light">Transactions</a>
                    </div>
                </div>
                <!-- MAIN MIDDLE AREA -->
                <div class="col-md-9">
                    @RenderBody()
                </div>
            </div>
        </div>
    </section>
    <!-- END MAIN AREA -->

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
</body>
</html>
